.root{
    -fx-padding: 20px;
}
.title{
    -fx-text-fill: white;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.703), 5, 0, 2, 3);
}

/* Toàn bộ bảng */
.root .table-view {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-background-radius: 15;
    -fx-border-color: rgba(255, 255, 255, 0.25);
    -fx-border-radius: 15;
    -fx-padding: 10;
    -fx-table-cell-border-color: transparent;
    -fx-control-inner-background: transparent;
}

/* Header của bảng */
/* .root .table-view .column-header-background {
    -fx-background-color: linear-gradient(to right, #0292F9, #00C6FF);
    -fx-background-radius: 15 15 0 0;
} */

.root .table-view .column-header, 
.table-view .column-header .label {
    -fx-text-fill: #00518a;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-font-size: 16px;
}

/* Hàng dữ liệu */
.root .table-row-cell {
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

/* Hàng xen kẽ */
.root .table-row-cell:odd {
    -fx-background-color: rgba(255,255,255,0.05);
}

/* Khi hover chuột */
.root .table-row-cell:hover {
    -fx-background-color: rgba(2,146,249,0.3);
}

/* Khi được chọn */
.root .table-row-cell:selected {
    -fx-background-color: #0292F9;
    -fx-text-fill: white;
}

/* Căn giữa nội dung cell */
.root .table-cell {
    -fx-alignment: CENTER;
    -fx-padding: 8 0 8 0;
}
