.option-button {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10px 15px;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-alignment: CENTER_LEFT;
}

.title{
    -fx-text-fill: white;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.703), 5, 0, 2, 3);
}

.id-insert{
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

#quizIdField {
    -fx-background-color: #ffffffed;
    -fx-background-radius: 35;
}

#startButton{
    -fx-background-color: #D0F1FF;
    -fx-background-radius: 35;
    -fx-font-size: 20px;
}

#startButton:hover{
    -fx-background-color: #ffffff;
    -fx-background-radius: 35;
    -fx-cursor: hand;
}

#returnButton{
    -fx-background-color: #dedcdc;
    -fx-background-radius: 35;
    -fx-font-size: 20px;
}

#returnButton:hover{
    -fx-background-color: #ffffff;
    -fx-background-radius: 35;
    -fx-cursor: hand;
}


.option-button:hover {
    -fx-background-color: #e0e0e0;
}

.option-button:pressed {
    -fx-background-color: #d0d0d0;
}

.option-button.selected-option {
    -fx-background-color: #a0d9ff; /* Màu xanh nhạt */
    -fx-border-color: #007bff; /* Màu xanh đậm */
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.question-nav-button {
    -fx-min-width: 40px;
    -fx-background-color: #e0e0e0;
    -fx-border-color: #c0c0c0;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.question-nav-button.question-answered {
    -fx-background-color: #a0d9ff;
    -fx-border-color: #007bff;
    -fx-font-weight: bold;
}
