@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Itim&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Preahvihear&display=swap');
.root {
    -fx-font-family: "Itim",serif;
    -fx-font-size: 32px;
    -fx-background-color: linear-gradient(
        from 0% 0% to 0% 100%,   /* hướng top → bottom */
        #0292F9 0%,              /* màu đầu tại 0% */
        #3CAAF9 45%,             /* màu giữa tại 45% */
        #82C8F9 100%             /* màu cuối tại 100% */
    );
}

.navbar {
    -fx-background-color: transparent;
}

.logo {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.nav-item {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.nav-item:hover {
    -fx-underline: true;
}

.user-btn {
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 50%;
    -fx-cursor: hand;
    -fx-padding: 4 10 4 10;
}

.welcome-text {
    -fx-text-fill: white;
    -fx-font-size: 70px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.703), 5, 0, 2, 3);
}

.create-btn {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-radius: 35;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 35px;
    -fx-background-radius: 35;
    -fx-padding: 10 40 10 40;
    -fx-cursor: hand;
}

.create-btn:hover {
    -fx-background-color: #ffffff;
    -fx-text-fill: #0279f9;
}

.logout-btn {
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-padding: 5 15 5 15;
    -fx-cursor: hand;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-border-width: 1;
}

.logout-btn:hover {
    -fx-background-color: white;
    -fx-text-fill: #2196F3;
}